@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

@keyframes button-animation {
  0% {
    transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes water-animation {
  0% {
    fill: #2196F3;
  }
  50% {
    fill: #2195f381;
  }
  100% {
    fill: transparent;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3767AD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 36px 64px 64px 64px;
  color: #fff;
  font-weight: 500;
  font-size: 55px;
  @media (min-width: 768px) {
    margin: 64px;
    font-size: 48px;
  }
}

.glass {
  position: relative;
  &__number {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 112px;
    font-size: 90px;
    font-weight: 700;
    margin: 0;
    @media (min-width: 768px) {
      font-size: 76px;
      top: 96px;
      left: 100px;
    }
  }
  &__image {
    width: 280px;
    height: 280px;
    @media (min-width: 768px) {
      width: 240px;
      height: 240px;
    }
  }
  &__water--animation {
    animation: water-animation 1s linear 1;
  }
  margin-bottom: 48px;
}

.buttons {
  &__add {
    display: block;
    width: 216px;
    height: 48px;
    border-radius: 4px;
    background-color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 48px;
    animation: button-animation 1.5s linear infinite;
  }
  &__delete {
    display: block;
    width: 216px;
    height: 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    border: transparent;
    color: #fff;
  }
}